//$GLOBAL Carga todos los recursos requeridos y los compila en un único archivo

// config
@import 'base/config'
//resets
@import 'base/elements/index'

// Componenets
@import 'base/components/queries'
@import 'base/components/event_form'
@import 'base/components/admin_form'
@import 'base/components/events'
@import 'base/components/header'
@import 'base/components/login'
