.g-container-grid
	display: grid
	margin: 0 1rem
	grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr))
	grid-gap: 10px

.c-card
	padding: 1rem 2rem
	border: 2px solid #06F
	border-radius: 10px

.c-card__heading-1
	padding-top: 1rem
	font-size: $header-font-size.h2


.c-card__date, .c-card__time, .c-card__desc, .c-card__fb
	display: block
	font-size: $text-size.normal
	margin-bottom: 1rem
	& *
		padding-right: 1rem

// Buttons
.c-group
	@media only screen and (min-width: $breakpoints['m'] + 1)
		display: flex
		justify-content: center
.c-group__btn
	display: block
	text-align: center
	font-size: $text-size.normal-2
	border: 2px solid #FFF
	border-radius: 12px
	padding: 1rem
	&:nth-child(2), &:nth-child(3)
		margin: 8px 0
		@media only screen and (min-width: $breakpoints['m'] + 1)
			margin: 0 10px



.header, .footer, .c-group
	flex: 0 1 100%;
	grid-column: 1 / -1;
