header.c-header
	.c-header__logo
		a(href="/events") BMT | CMS

	ul.c-header__menu
		include nav


	.c-header__burguer#js-menuMovil
		a(href="#popup" data-effect="mfp-zoom-in") #[i.icon-menu3]
		#popup.c-popup.mfp-with-anim.mfp-hide
			ul.c-popup__menu#js-menuPopup
				include nav
