

.c-group
	a.c-group__btn(class={active: title == 'Todos los eventos'}, href="/events") Todos los eventos
	a.c-group__btn(class={active: title == 'Eventos en público'},href="/events/public") Eventos Públicos
	a.c-group__btn(class={active: title == 'Eventos en privado'},href="/events/private") Eventos Privados
	//- Muestra TODOS lo eventos con fecha superior a la actual
	a.c-group__btn(class={active: title == 'Próximos Eventos'},href="/events/next") Próximos Eventos
