
if user
	li.close(class={active_page: page == '/events'})
		a(href="/events") Eventos#[i.icon-calendar2]

	li.close(class={active_page: page == '/events/create'})
		a(href="/events/create") Crear Evento #[i.icon-album]

	li.close(class={active_page: page == '/logout'})
		a(href="/logout") Cerrar Sesión#[i.icon-home2]
else
	li.close(class={active_page: page == '/register'})
		a(href="/register") Registrarse#[i.icon-home2]

	li.close(class={active_page: page == '/login'})
		a(href="/login") Iniciar Sesión#[i.icon-home2]
